@model SV19T1081001.DomainModel.Product
@{
    ViewBag.Title = "Xóa mặt hàng";
}

<div class="box box-primary">
    <div class="box-header with-border ">
    </div>

    <div class="box-body">
        <div class="col-lg-8 col-md-12">
            <form class="form-horizontal" action="#" method="post">
                <div class="form-group">
                    <label class="control-label col-sm-2">Tên mặt hàng:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static">@Model.ProductName</p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2">Đơn vị tính:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static">@Model.Unit</p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2">Giá hàng:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static">@Model.Price</p>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        @if (SV19T1081001.BusinessLayer.CommonDataService.InUsedProduct(Model.ProductID))
                        {
                            <p class="text-danger">Không được xóa mặt hàng này</p>
                        }
                        else
                        {
                            <button type="submit" class="btn btn-danger"><i class="fa fa-close"></i> Xóa dữ liệu</button>
                        }
                        <a class="btn btn-warning" href="~/product">
                            <i class="fa fa-step-backward"></i> Quay lại
                        </a>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-4 col-md-12">
            <img id="blah" src="~/@Model.Photo" alt="your image" onerror="this.onerror=null;this.src='/Images/default.jpg';" style=" height: 250px; width: 250px; object-fit: contain; margin-left: 50%; transform: translateX(-50%);">
        </div>
    </div>

    <div class="box-footer text-center">
    </div>

</div>

