<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 1.0.0
    </div>
    <strong>Bản quyền &copy; 2022 <a href="#">Võ Xuân An</a>.</strong> Đăng ký tại trường ĐHKH Huế
</footer>
